{% extends 'VardiusCrudBundle::layout.html.twig' %}

{% block title %}List{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% for action in listView.actions %}
                {% if loop.first %}
                    <div class="btn-group pull-right" role="group">
                {% endif %}
                <a href="{{ path(action.path) }}" class="btn btn-default" role="button">
                    {% if action.icon is not null %}
                        <i class="fa {{ action.icon }}"></i>
                    {% endif %}
                    {% if action.name is not null %}
                        {{ action.name }}
                    {% endif %}
                </a>
                {% if loo.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% set hasFilters = (listView.filterForms is not empty) %}
    <div class="row">
        <div class="col-md-{{ hasFilters ? '8' : '12' }}">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    {% for column in listView.columns %}
                        <td>{{ column.property|upper }}</td>
                    {% endfor %}
                    {% if listView.rowActions is not empty %}
                        <td></td>
                    {% endif %}
                </thead>
                <tbody>
                {% for entity in data %}
                    <tr class='list-view-item'>
                        {% for column in listView.columns %}
                            <td>{{ column.getData(entity)|raw }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    {% set currentPage = listView.currentPage %}
                    {% set previousPage = (currentPage > 1 ? (currentPage - 1) : 1) %}
                    {% set lastPage = listView.lastPage %}
                    {% set nextPage = (currentPage < lastPage ? lastPage + 1 : lastPage) %}
                    <div class="paginator pull-right">
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': previousPage}) ) }}">
                            <i class="fa fa-caret-square-o-left"></i>
                        </a>
                        {% if previousPage <  currentPage %}
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': previousPage}) ) }}">{{ previousPage }}</a>
                        {% endif %}
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': currentPage}) ) }}">{{ currentPage }}</a>
                        {% if nextPage >  currentPage %}
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': nextPage}) ) }}">{{ nextPage }}</a>
                        {% endif %}
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'page': nextPage}) ) }}"
                           class="last {% if lastPage == currentPage %} current{% endif %}">
                            <i class="fa fa-caret-square-o-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if hasFilters %}
            <div class="col-md-4">
                {% for form in listView.filterForms %}
                    {{ form(form) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}